.feature-box {
    height: 20rem;
    background-color: rgba($color-white, .8);
    font-size: 2.5rem;
    padding: 10rem 2.5rem 2.5rem 2.5rem;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;
    color: $color-white;
    background-size: cover;

    @include respond (tab-port) {
        padding: 9.5rem 2rem 2rem 2rem;
    }

    &--1 {
        background-image: url(../img/music-concert.jpg);
        background-position: bottom;
    }

    &--4 {
        background-image: url(../img/marriage.jpg);
        background-position: center;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);

        @include respond (tab-port) {
            transform: translateY(0) scale(1);
        }
    }
}